 <div class="login-container vertical-horizontal-center">
    <mat-card>
      <mat-card-title>
        Login
      </mat-card-title>
      <mat-card-content>
          <form [formGroup]="loginFormGroup" (ngSubmit)="login(loginFormGroup.value)" novalidate>
            <mat-form-field class="width-300">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" name="username">
              <mat-hint *ngIf="loginFormGroup.controls.username.invalid
              && loginFormGroup.controls.username.touched" class="color-red">
                Username field is required
              </mat-hint>
            </mat-form-field><br>

            <mat-form-field class="width-300">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" name="password" type="password">
              <mat-hint *ngIf="loginFormGroup.controls.password.invalid
              && loginFormGroup.controls.password.touched" class="color-red">
                Username field is required
              </mat-hint>
            </mat-form-field><br><br>
            <div class="center">
              <button [disabled]="!loginFormGroup.valid" mat-raised-button button class="center" color="primary">
                <mat-icon>cached</mat-icon>
                  Login
              </button>
            </div>

            <p>Don't have an account? <a [routerLink]="['/register']" class="no-text-decoration">Sign up</a></p>
          </form>
      </mat-card-content>
    </mat-card>
  </div>
