<div class="register-container vertical-horizontal-center">
  <mat-card>
    <mat-card-title>
      Register
    </mat-card-title>

    <mat-card-content>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" (keyup)="setUsername($event)" required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput  placeholder="First Name" (keyup)="setFirstName($event)"  required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput  placeholder="Last Name" (keyup)="setLastName($event)"  required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" (keyup)="setPassword($event)"  required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput type = "email" placeholder="Email" (keyup)="setEmail($event)"  required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput  type = "number" placeholder="Phone" (keyup)="setPhone($event)"  required>
        </mat-form-field><br>

        <div class="center">
          <button mat-raised-button color="primary" (click)="postRegister()" >
            <mat-icon>cached</mat-icon>
            Register
          </button>
        </div>
    </mat-card-content>
  </mat-card>
</div>



