
  <mat-card>
    <mat-card-content>

        <p>Please login to continue</p>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" (keyup)="setUser($event)" required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput  placeholder="First Name" (keyup)="setFirstName($event)"  required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput  placeholder="Last Name" (keyup)="setLastName($event)"  required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" (keyup)="setPassword($event)"  required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput type = "email" placeholder="Email" (keyup)="setEmail($event)"  required>
        </mat-form-field><br>

        <mat-form-field class="full-width-input">
          <input matInput  type = "number" placeholder="Phone" (keyup)="setPhone($event)"  required>
        </mat-form-field><br>

        <button mat-raised-button color="primary" (click)="postRegister()" >Register</button>

    </mat-card-content>
  </mat-card>



